In [3]:
import pandas as pd
import geopandas as gpd
import topojson as tp
import re
import warnings

# read in sales
sales_df = pd.read_csv('Data/ClaytonSales.csv')

# read in census tracts
clayton_ct = gpd.read_file('Data/clayton_CTs.gpkg')

# pare down the dataframe
clayton_ct = clayton_ct[[
    'GEOID',
    'Sub_geo',
    'geometry'
]]

# join the sales to the tracts to get the sub geometry of each sale


# # ignore the warnings that come with simplifying geographically
# warnings.filterwarnings("ignore", category=RuntimeWarning)

# toposimplify = 0.001
# dekalb_simp = tp.Topology(dekalb_ct, toposimplify=toposimplify).to_gdf()

# # export simplified geometry
# dekalb_simp.to_file('Data/dekalb_CTs_simp.geojson')

# # spatial join
# sales_joined = sales_df.sjoin(dekalb_ct, how="left")

# sales_joined = sales_joined.drop(columns='index_right')

# # weed-out filters
# sales_joined = sales_joined[sales_joined['sale_amt'] >= 20000]
# sales_joined = sales_joined[sales_joined['home_size'] >= 75]

# # rename sub_geos
# sales_joined['Sub_geo'] = sales_joined['Sub_geo'].replace({
#     'Lithonia/E.  DeKalb': 'Lithonia/E. DeKalb'
# })

# # create price / SF
# sales_joined['price_sf'] = sales_joined['sale_amt'] / sales_joined['home_size']

# # Now that it's joined, drop geometry and lat/longs
# sales_joined = sales_joined.drop(columns=[
#     'lat',
#     'long',
#     'geometry'
# ])

# # export
# sales_joined.to_csv('Data/DeKalb_20-24.csv', index=False)

# print('export complete!')
print(f'dataframe rows: {sales_df.shape[0]:,}')
print('------')
clayton_ct.head(3)

dataframe rows: 15,804
------

,GEOID,Sub_geo,geometry
0,13063040306,NW Clayton,"MULTIPOLYGON (((-84.39830 33.61745, -84.39813 ..."
1,13063040416,NE Clayton,"MULTIPOLYGON (((-84.36891 33.58042, -84.36875 ..."
2,13063040525,South Clayton,"MULTIPOLYGON (((-84.40883 33.51839, -84.40543 ..."